BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 100

AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortIfStatementsOnASingleLine: Never

PointerAlignment: Left
DerivePointerAlignment: false

SortIncludes: true
IncludeBlocks: Regroup

Cpp11BracedListStyle: true

Diagnostics:
  Suppress:
    - string-plus-int
